<%= form_for([@publication, @publication.comments.build]) do |f| %>
	<p>
		<%= f.label :Имя %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :Комментарий %><br>
		<%= f.text_area :body %>
	</p>
	<br>
	<p>
		<%= f.submit "Создать комментарий"%>
	</p>
<% end %>