<div id="page_wrapper">
	<h1>Новая публикация</h1>

	<!-- Делаем форму для создания новых публикаций-->
	<%= form_for :publication, url: publications_path do |f| %>
		
	<p>
		<%= f.label :title %> <br> <!-- Название текстового поля-->
		<%= f.text_field :title %> <!-- Само текстовое поле-->
	</p>	
		
	<p>
		<%= f.label :body %><br> <!-- Название текстового поля самой публикации-->
		<%= f.text_area :body %> <!-- Сама публикация -->
	</p>

	<p>
		<%= f.submit %> <!-- Кнопка создания публикации -->
	</p>	

	<% end %>	
</div>