<div id="post_content">
	<h1 class="title">
		<%= @publication.title %>
	</h1>

	<p class="date">
		Создано <%= time_ago_in_words(@publication.created_at) %> назад
		| <%= link_to 'Редактировать', edit_publication_path(@publication) %>
		| <%= link_to 'Удалить', publication_path(@publication), method: :delete, data: { confirm: 'Вы уверены?'} %>
	</p>

	<p class="body">
		<%= @publication.body %>
	</p>

	<div id="comments">
		<h2> <%= @publication.comments.count %> комментариев</h2>
		<%= render @publication.comments %>

		<h3>Добавить комментарий:</h3>
		<%= render "comments/form" %>
	</div>
</div>