<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="sidebar"> <!-- Создание бокового меню-->
  		<div id="logo">
  			<%= link_to root_path do %>
  				<%= image_tag("logos/logo.png") %>
  			<% end %>	
  		</div>
  		<ul>
  			<li class="category">Website</li>
  			<li><%= link_to "Блог", root_path %></li>
  			<li><%= link_to "Обо мне", about_path %></li>
  		</ul>

  		<ul>
  			<li class="category">Social</li>
  			<li><a href="http://rubyonrails.org/">Ruby on rails</a></li>
  			<li><a href="https://ru.wikipedia.org/wiki/CSS">CSS</a></li>
  			<li><a href="https://ru.wikipedia.org/wiki/HTML">HTML</a></li>
  			<li><a href="https://www.javascript.com/">JavaScript</a></li>
  		</ul>
  		
  		<p class="sign_in">Admin Login</p>
  	</div>

  	<div id="main_content">
  		<div id="header">
        <% if current_page?(root_path) %>
  			 <p>Все публикации</p>
        <% elsif current_page?(about_path) %>
         <p>Обо мне</p>
        <% else %>
         <%= link_to "Вернуться к публикациям", root_path %>
        <% end %>
           
  			<div class="buttons">
  					 <%= link_to new_publication_path do %> 
  					 <button class="button">Новая публикация</button> 
  					 <% end %>﻿
					<button class="button">Выход</button>
			</div>
  		</div>

  		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert")%>
  		<% end %>
  	<%= yield %>
  	</div>
  </body>
</html>
